* {
    box-sizing: border-box
}

#app-container{
  font-family: Helvetica Neue, Helvetica, sans-serif;
}

/*Blue fixed call-to-action in bottom-right background-color: #3A539B*/
/*Anchor tag color: #3E7FBB.*/
/*Red color: #DB4B38*/

/*MAIN NAV*/

.main-nav{
  background-color: black;
  color: white;
  width: 100%;
}
  .logo-container {
    font-size: 0;
    display: block;
  }
    .logo {
      display: inline-block;         vertical-align: top;
      width: 30%;
      font-size: medium;

    }
    .lable{
      display: inline-block;
      vertical-align: top;
      width: 70%;
      font-size: medium;
    }
  .main-nav ul{
    list-style: none;
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 15px;
  }
  .main-nav li{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
  }

/*COLUMNS CONTAINER*/

.main-columns-container{
  padding-left: 20px;
  padding-right: 20px;
  /*font-size: 0;*/
}

/*LEFT COLUMN*/

.left-column{
  width: 75%;
  /*font-size: medium;*/
  /*vertical-align: top;*/
}

.section-container {
  padding-top: 10px;
  padding-bottom: 10px;
}
h1 {
  margin: 0px;
}
  .mini-nav ul{
    list-style: none;
    display: inline-block;

  }

  .mini-nav li{
    display: inline-block;
    background-color: ivory;
    color: lightblue;
  }

  .mini-nav .mfah-li {
    background-color: lightblue;
    color: gray;
  }

  /*SECTION COLUMNS*/

.columns-container {
  font-size: 0;
  padding-top: 10px;
  display: block;
}
  .left-desc{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    font-size: medium;
    padding-right: 20px;
  }
  .right-img{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding-top: 20px;
  }

    .right-img img{
      width: 100%;
      display: block;
    }

  .left-img {
    width: 40%;
    display: inline-block;
    vertical-align: top;
  }
    .left-img img{
      width: 100%;
      display: block;
    }

  .right-desc {
  width: 60%;
  display: inline-block;
  vertical-align: top;
  font-size: medium;
  padding-left: 20px;
  }
    .right-desc ul{
      list-style: none;
      font-weight: bold;
      line-height: 1.5;
      font-style: italic;
      padding-left: 0px;
    }



/*RIGHT COLUMN*/
.right-column{
  width: 25%;
}
